<section class="py-8">
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap items-center mb-6">
      <h3 class="text-xl font-bold">Regiones</h3>
    </div>
    <%= render  partial:'region', collection:@regions %>
  </div>
</section>